@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;900&display=swap');

* {

	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

:root {

	--color-red: #f94144ff;
	--color-orange-hot: #f3722cff;
	--color-orange-orange: #f8961eff;
	--color-orange-orange-mid: #f9844aff;
	--color-orange-yellow: #f9c74fff;
	--color-lime: #90be6dff;
	--color-lime-light: rgb(189, 230, 176);
	--color-green: #43aa8bff;
	--color-green-shade: #4d908eff;
	--color-blue-shade: #577590ff;
	--color-blue: #277da1ff;

	--color-background: #f4f4f4;
	--color-text: #2a2a2a;
	--color-links: var(--color-blue);
	--color-lines:	#ffffff10;
	--var-logo-blur: 100px;

}

.credit {

	display: block;
	margin-top: 1rem
}


html {

	overflow-y: scroll;

}

html,
body {

	background: var(--color-background);
	color: var(--color-text);
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 1.6;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke: 0.45px;
	-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);

}

h1, h2, h3, h4, h5 {

	font-weight: 100;
	line-height: 1.2;
	margin-bottom: 2rem;

}

h1 {

	font-size: 2.5rem;

}

h2, h3, h4, h5 {

	font-size: 2rem;

}

h3, h4, h5 {

	font-size: 1.2rem;

}

a,
a:link,
a:visited,
a:hover {

	color: var(--color-links);
	text-decoration: none;

}

p, ol, ul {

	margin-bottom: 2rem;

}

p,
td,
li {

	letter-spacing: -.004em;
	font-weight: 300;

}

ol, ul {

	margin-left: 3rem

}

strong {

	font-weight: 600;

}

nav a {

	display: block;

}

.skipToContent {

	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

}

.skipToContent:active,
.skipToContent:focus {

	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	padding: 10px;

}

footer {

	padding: 60px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	text-align: center;

}

.Layout > header {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 30px 60px;
	width: 100%;
	background: #fff;
	user-select: none;

}

.Layout > header svg {

	flex: 1;
	height: 35px;

}


.Layout > header h1 {

	margin: 0;
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: -0.03em;

}

.Layout > header h1 a {

	color: #111;

}

.Layout > header nav {

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.Layout > header nav a {

	margin: 0 10px 20px;
	font-size: 0.9rem;

}

.CourseLink {

	font-weight: bold;
	background: var(--color-links);
	padding: 7px 10px;
	border-radius: 5px;
	color: #fff

}

.Layout .logo {

	flex-basis: 45px;
	margin: 0;

}

footer p {

	margin: 0;
	font-size: 0.7rem;
	opacity: 0.7;

}

footer nav {

	display: inline-flex;
	flex-direction: row;

}

footer nav a {

	display: block;
	padding: 10px

}

@media screen and (min-width: 880px) {

	.Layout > header nav {
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.Layout > header nav a {
		margin: 0 10px 0;
	}

}
