.pageHomepage

	--var-message-spacing: 20px
	--var-message-spacing-negative: calc(var(--var-message-spacing) * -1)

	min-height: calc(100vh - 105px)
	display: flex
	flex-direction: column

	@media screen and ( min-width: 1100px )

		--var-message-spacing: 100px

	& > header

		flex-grow: 1
		text-align: center
		min-height: 60vh
		background: #f1f9ff

		.messagesContainer

			display: none

		@media screen and ( min-width: 750px )

			display: flex
			justify-content: center
			background-size: cover

			.messagesContainer

				display: flex

		div

			flex: 1
			background-position: 100% 50%
			background-size: cover

		.btnStartLearning

			display: inline-block
			padding: 10px 15px
			border: 3px solid var(--color-blue)
			border-radius: 10px
			font-weight: bold
			margin-right: 20px

			&:hover

				background: var(--color-blue)
				color: var(--color-blue-text)

.support

	text-align: center
	background: var(--color-blue)
	padding: 35px
	color: var(--color-blue-text)
	text-align: left

	p

		margin: 0
		font-size: 16px

	a

		color: var(--color-blue-link)

	h3

		display: inline-block
		font-size: 1.2rem
		margin: 0
		border: 0
		padding: 0
		font-weight: 700

	svg

		width: 60px
		fill: #fff
		margin: 0 30px 0 0

	& > div

		max-width: 1400px
		margin: 0 auto
		flex-direction: row
		display: flex

		div

			max-width: 800px

.heroMessage

	padding: var(--base-screen-padding)
	max-width: 650px
	text-align: left
	display: flex
	justify-content: center
	align-items: center

	@media screen and ( min-width: 750px )

.messagesContainer

	padding: var(--var-message-spacing)

.chatPersonA,
.chatPersonB

	opacity: 0
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out
	padding: 20px
	display: inline-block
	border-radius: 5px
	margin: 10px 40px
	font-size: 1.2rem
	font-weight: 400
	box-shadow: 4px 4px 10px rgba(#000,0.6)
	position: relative
	color: #fff

	&:after

		content: ''
		position: absolute
		bottom: 0
		left: 10%
		width: 0
		height: 0
		border: 16px solid transparent
		border-bottom: 0
		margin-bottom: -16px

.chatPersonA

	text-align: left
	background: var(--color-blue)
	transform: translate3d(var(--var-message-spacing-negative), 20px, 0)

	&:after

		border-top-color: var(--color-blue)
		border-left: 0
		margin-right: -8px

.chatPersonB

	text-align: right
	transition-delay: 0.3s
	background: var(--color-green)
	transform: translate3d(var(--var-message-spacing), 20px, 0)

	&:after

		left: 90%
		border-top-color: var(--color-green)
		border-right: 0
		margin-left: -8px

.show

	.chatPersonA

		transform: translate3d(var(--var-message-spacing-negative),0,0)

	.chatPersonB

		transform: translate3d(var(--var-message-spacing),0,0)

	p

		opacity: 1

.conversationSpace

	max-width: 800px
	background-size: cover
	display: flex
	justify-content: center
	align-items: center

.seeIt

	text-align: center
	padding: 60px

	p

		margin: 0

	> div

		display: flex
		flex-direction: row
		justify-content: center
		align-items: center

	> div

		padding: 30px
		flex: 1

.heroImage

	background-size: cover
	background-position: center center

h3

	border-left: .5em solid var(--color-yellow)
	padding: .2em .2em .2em .5em
	font-size: 1.5rem

.blog

	font-size: 0.8rem

	.mainImage

		margin-bottom: 20px

	h1

		font-size: 1.3rem
		margin: 0 0 .4rem 0

	.author

		display: inline

	.meta

		font-size: 0.8rem
		margin: 0 0 20px 0

		p

			margin: 0 0 5px 0

	.tags

		display: block
		margin: 0
		padding: 0

		li

			background: #eee
			border-radius: 6px
			display: inline-block
			padding: 2px 8px
			margin-right: 10px
