.IndexPage {

	display: block;

}

.IndexPage header {

	text-align: center;
	min-height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;

}

.IndexPage header div {

	padding: 40px

}

.IndexPage header svg {

	max-width: 400px;
	margin-bottom: 1rem;

}

.IndexPage header h1 {

	margin: 0;
	font-size: 3rem;
	font-weight: 100;

}

.IndexPage header h2 {

	margin: 0;
	font-size: 1.3rem;
	font-weight: 100;

}

.seeIt {

	text-align: center;
	padding: 60px;
	background: white;

}

.seeIt p {

	margin: 0

}

.seeIt > div {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.seeIt > div > div {

	padding: 30px;
	flex: 1;

}

.whatIsSE {

	color: white;
	background-color: var(--color-green-shade);
	display: flex;

}

.whatIsSE h3 {

	font-size: 2rem;

}

.whatIsSE > div {

	flex: 1

}

.heroImage {

	background-size: cover;
	background-position: center center;

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin-bottom: 20px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
