.pageHomepage

	--var-message-spacing: 20px
	--var-message-spacing-negative: calc(var(--var-message-spacing) * -1)

	@media screen and ( min-width: 1100px )

		--var-message-spacing: 100px

	.homepageBanner

		text-align: center
		border-radius: 2rem
		margin: 0 2rem 2rem 2rem
		background-image: radial-gradient(circle at 80% 50%, #0b2961, #00042c)
		border: 1px solid #ffffff10
		box-shadow: 0.25rem 0.25rem 1rem #000000
		min-height: calc(100vh - 8rem)

		.creativeContainer

			display: none

		@media screen and ( min-width: 750px )

			display: flex
			justify-content: center

			.creativeContainer

				display: flex
				padding: var(--var-message-spacing)
				flex: 1
				background-position: 50% 50%
				background-size: cover
				background-repeat: no-repeat
				justify-content: center
				align-items: center

				div

					max-width: 80%

		a

			--color-links: #84beff

		.btnStartLearning

			background: var(--color-blue)
			border-radius: 10px
			border: 3px solid var(--color-blue)
			color: var(--color-blue-text)
			display: inline-block
			font-weight: bold
			margin-right: 20px
			padding: 10px 15px

	.minBanners

		--var-minWidth: calc(320px - 4rem)

		display: grid
		padding: 0 2rem
		gap: 2rem
		grid-template-columns: repeat(auto-fit,minmax(var(--var-minWidth),1fr))

		> a

			border-radius: 2rem
			padding: 2rem
			flex: 1
			height: 15rem
			background-image: linear-gradient(160deg, #002f84, #011538)
			color: #fff
			border: 1px solid #ffffff10
			box-shadow: 0.25rem 0.25rem 1rem #000000

			&:hover

				cursor: pointer
				text-decoration: none

.heroMessage

	flex: 1
	text-align: left
	display: flex
	justify-content: center
	align-items: center

	> div

		max-width: 650px
		padding: var(--base-screen-padding)

	.cta

		margin-top: 2rem
		text-shadow: none

		@media screen and ( max-width: 1000px )

			a

				padding: 1rem
				display: block

.creativeContainer

	p

		opacity: 0
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out
		padding: 20px
		display: inline-block
		border-radius: 5px
		margin: 10px 40px
		font-size: 1.2rem
		font-weight: 400
		box-shadow: 4px 4px 10px rgba(#000,0.6)
		box-shadow: 0.25rem 0.25rem 0.5rem #000000aa
		position: relative
		color: #fff

		&:after

			content: ''
			position: absolute
			bottom: 0
			left: 10%
			width: 0
			height: 0
			border: 16px solid transparent
			border-bottom: 0
			margin-bottom: -16px

		&:nth-child(odd)

			text-align: left
			background: var(--color-blue)
			transform: translate3d(var(--var-message-spacing-negative), 20px, 0)

			&:after

				border-top-color: var(--color-blue)
				border-left: 0
				margin-right: -8px

		&:nth-child(even)

			text-align: right
			background: var(--color-green)
			transform: translate3d(var(--var-message-spacing), 20px, 0)

			&:after

				left: 90%
				border-top-color: var(--color-green)
				border-right: 0
				margin-left: -8px

	&.show

		p

			opacity: 1

			&:nth-child(odd)

				transform: translate3d(var(--var-message-spacing-negative),0,0)

			&:nth-child(even)

				transform: translate3d(var(--var-message-spacing),0,0)
