.booksHeader

	text-align: center

	p

		margin: 0 auto

.keywords

	margin-top: 0.5rem
	font-size: 0.8rem
	color: var(--color-text-soft)

	span

		margin-right: 0.25em

		&:after

			content: ', '

		&:last-child

			&:after

				content: ''

.bookSearch

	max-width: 500px
	margin: 0 auto
	margin-bottom: 2rem
	display: block

.booksPage

	width: 100%
	max-width: 100%

.bookListing

	display: grid
	grid-template-columns: repeat(auto-fill,minmax(280px,1fr))
	grid-gap: 1rem

.book

	background: var(--color-island)
	padding: 2rem

	p

		margin: 0

	a

		display: block
		margin-top: 0.5rem

	.authors

		span

			margin-right: 0.25em

			&:after

				content: ', '

			&:last-child

				&:after

					content: ''

	h3

		margin-top: 1rem
		margin-bottom: .5rem

		em

			display: block
			line-height: 1.2rem
			font-size: 0.9rem
			color: var(--color-text-soft)
