.faqsPage

	max-width: 1200px
	margin: 0 auto
	padding: var(--base-screen-padding)

	> main

		@media screen and (min-width: 700px)

			display: flex

	.PageNavigation

		flex: 1

	main > div

		flex: 2

	.PageNavigation

		margin-right: 2rem
		margin-bottom: 2rem

	.moreInformation

		background-color: var(--color-lines)
		padding: 2rem
		border-radius: .5rem

		p

			margin: 0

	section

		padding-bottom: 1rem
		margin-bottom: 2rem
		border-bottom: 1px solid var(--color-lines)

		.svg

			max-width: 400px

	.didWeMissSomething

		background: var(--color-green)
		color: #fff
		padding: 2rem 2rem 1rem 2rem
		border-radius: .5rem

		p

			font-weight: 400

		h4

			padding: 0 0 10px 0
			border-bottom: 1px solid var(--color-green-lines)

		a

			--color-links: var(--color-green-link)
