.coursesPage {

	width: 100%;

}

.courseIntroduction p:last-child {

	margin: 0

}

.courses {

	padding: 60px;
	background-color: #fff;
}

.courseListing {

	display: flex;
	flex-direction: row;
	margin: 0 -20px

}

.course,
.course:link,
.course:visited,
.course:hover {

	border-radius: 8px;
	flex: 1;
	display: block;
	margin: 20px;
	overflow: hidden;
	background: #eee;
	color: #fff;

}

.course header {

	padding: 20px;
	background-color: var(--color-lime);

}

.course header h3 {

	font-size: 1.5rem;

}


.course main {

	color: #000;
	padding: 20px;

}

.course p:last-child {

	margin: 0;

}

.modules {

	font-size: 0.8rem;

}

.course h3 {

	margin: 0;
	font-weight: bold;

}


.modules h3 {

	font-weight: bold;
	margin: 20px 0

}

.modules > div {

	padding: 0 10px 10px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee

}

.modules span {

	font-weight: bold;
	display: inline-block;
	margin-right: 1em;

}
